@use '../src/shared/styles/tokens';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: var(--font-sans);
  font-size: var(--font-size-body-m);
  line-height: var(--line-height-body-m);
  color: var(--color-text);

  background: var(--color-background);
}
